@use "../../colors.scss" as col;

.add-user-container {
  background-color: col.$backgroundColor;
  padding: 50px 25px;
}

.add-user-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: col.$backgroundColor;
  gap: 10px;
}

.add-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.add-user-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  border-radius: 20px !important;
  input {
    border-radius: 20px !important;
  }
}
