<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <div class="logo-container">
      <p>Platzhalter Logo</p>
    </div>

    <button class="sidenav-item" (click)="navigate('')">
      <mat-icon>dashboard</mat-icon>
      <p>Dashboard</p>
    </button>

    <button class="sidenav-item" (click)="navigate('user')">
      <mat-icon>groups</mat-icon>
      <p>User</p>
    </button>
  </mat-drawer>

  <div class="main-content">
    <mat-toolbar>
      <button mat-icon-button class="menu-icon" (click)="drawer.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3>Simple CRM</h3>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
