<div class="detail-container">
  <mat-card class="detail-header">
    <img class="profile-icon" src="/assets/img/avatar.png" />
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
  </mat-card>
  <mat-card class="detail-content">
    <div class="detail-row">
      <div class="detail-item">
        <mat-icon>mail</mat-icon>
        <p>{{ user.email }}</p>
      </div>
      <div class="detail-item">
        <mat-icon>calendar_month</mat-icon>
        <p>{{ birthDay }}</p>
      </div>
    </div>

    <div class="detail-item">
      <mat-icon>location_on</mat-icon>
      <div>
        <p>{{ user.street }}</p>
        <p>{{ user.zip }} {{ user.city }}</p>
      </div>
    </div>
  </mat-card>
</div>
