$accentColor: #63e4f2 !global;
$primaryColor: #07b0f2 !global;
$hoverPrimaryColor: #0788d9 !global;
$backgroundColor: #0a2740 !global;
$hoverColorDark: #0c1d40 !global;
$disabledColor: #40719c !global;
