@use "./colors.scss" as col;
@use "@angular/material" as mat;

* {
  margin: 0px;
  font-family: "Montserrat";
  font-weight: 300;
}

:root {
  @include mat.form-field-overrides(
    (
      outlined-caret-color: col.$primaryColor,
      outlined-focus-outline-color: col.$primaryColor,
      outlined-focus-label-text-color: col.$primaryColor,
      outlined-hover-outline-color: col.$hoverPrimaryColor,
      outlined-hover-label-text-color: col.$hoverPrimaryColor,
    )
  );
  @include mat.datepicker-overrides(
    (
      calendar-date-selected-state-background-color: col.$primaryColor,
      calendar-date-focus-state-background-color: col.$primaryColor,
      calendar-date-hover-state-background-color: col.$hoverPrimaryColor,
      toggle-active-state-icon-color: col.$primaryColor,
    )
  );

  @include mat.progress-bar-overrides(
    (
      active-indicator-color: col.$accentColor,
      track-color: col.$accentColor,
      track-shape: round,
    )
  );

  @include mat.card-overrides(
    (
      outlined-container-color: col.$backgroundColor,
      outlined-outline-color: col.$primaryColor,
    )
  );
}

h2 {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 25pt !important;
  color: col.$accentColor;
}

h3 {
  font-family: "Montserrat" !important;
  font-weight: 700 !important;
  font-size: 22px;
}

.primary-button {
  background-color: col.$primaryColor;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: col.$backgroundColor;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 22px;
  &:hover {
    background-color: col.$hoverPrimaryColor;
    color: col.$hoverColorDark;
  }
}

.secondary-button {
  background: none;
  padding: 15px 25px;
  border: 1px solid col.$primaryColor;
  border-radius: 20px;
  cursor: pointer;
  color: col.$primaryColor;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  &:hover {
    color: col.$hoverPrimaryColor;
    border: 1px solid col.$hoverPrimaryColor;
  }
}

.full-width {
  width: 100%;
}

.three-quarter-width {
  width: 67%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 33%;
}

/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/montserrat-v29-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/montserrat-v29-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
